<!-- Describe task in general -->

<p>
    <i>你正处于一个密码系列的开始。每个任务都是在前一个任务的基础上进行的。接下来的任务会变得稍微复杂一些。</i>
</p>

<p>
    在这个任务中，你需要创建一个密码验证功能。
</p>

<p>验证条件是：</p>

<ul>
    <li>长度应大于6。</li>
</ul>



<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>A{% if is_js %}string<span>(string)</span>{% else %} string<span>(str)</span>{% endif %} 。
</p>

<p>
   <strong>输出：</strong>A{% if is_js %}逻辑值<span>(boolean)</span>{% else %} 逻辑值<span>(bool)</span>{% endif %} 。 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>它是如何使用的： </strong>
    <i>对于一个密码验证表。此外，学习如何评估任务也是很好的。</i>
</p>
