<!-- Describe task in general -->

<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    <i>Znajdują się Państwo na początku serii haseł. Każda misja opiera się na poprzedniej. Kolejne misje będą nieco bardziej złożone.</i>
</p>

<p> 
    W tej misji muszą Państwo utworzyć funkcję weryfikacji hasła.
</p>

<p>Warunkiem weryfikacji jest:</p>

<ul>
    <li>długość powinna być większa niż 6.</li>
</ul>



<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> A {% if is_js %}string{% else %} string <span>(str)</span>{% endif %}.
</p>

<p>
   <strong>Wyjście:</strong> A {% if is_js %}wartość logiczna <span>(boolean)</span>{% else %} wartość logiczna <span>(bool)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>Sposób użycia: </strong>
    <i>Formularz weryfikacji hasła. Dobrze jest również dowiedzieć się, jak można ocenić zadanie.</i>
</p>
